function Counter.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 16384
push argument 0
add
pop this 0
push pointer 0
return
function Counter.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Counter.drawLineAndCountZero 1
push constant 16384
push constant 3100
add
pop local 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 415
push constant 0
push constant 416
push constant 255
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Counter.drawCount 0
push argument 0
pop pointer 0
push argument 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Counter.draw1 1
pop temp 0
label IF_FALSE0
push argument 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Counter.draw2 1
pop temp 0
label IF_FALSE1
push argument 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Counter.draw3 1
pop temp 0
label IF_FALSE2
push argument 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Counter.draw4 1
pop temp 0
label IF_FALSE3
push argument 1
push constant 5
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Counter.draw5 1
pop temp 0
label IF_FALSE4
push argument 1
push constant 6
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Counter.draw6 1
pop temp 0
label IF_FALSE5
push argument 1
push constant 7
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Counter.draw7 1
pop temp 0
label IF_FALSE6
push argument 1
push constant 8
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Counter.draw8 1
pop temp 0
label IF_FALSE7
push argument 1
push constant 9
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
call Counter.drawWin 1
pop temp 0
label IF_FALSE8
push constant 0
return
function Counter.draw1 1
push argument 0
pop pointer 0
push this 0
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Counter.draw2 1
push argument 0
pop pointer 0
push this 0
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Counter.draw3 1
push argument 0
pop pointer 0
push this 0
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Counter.draw4 1
push argument 0
pop pointer 0
push this 0
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Counter.draw5 1
push argument 0
pop pointer 0
push this 0
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Counter.draw6 1
push argument 0
pop pointer 0
push this 0
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Counter.draw7 1
push argument 0
pop pointer 0
push this 0
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Counter.draw8 1
push argument 0
pop pointer 0
push this 0
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 255
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Counter.drawWin 1
push argument 0
pop pointer 0
push this 0
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 9216
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 256
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 8
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 288
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 2
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 4096
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16384
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 1
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 544
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 10256
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 74
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4226
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 512
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 79
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 5135
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 8320
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 511
add
pop local 0
push local 0
push constant 0
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 240
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 0
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 128
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 2048
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
