function MathExtension.mod 2
push argument 0
push argument 1
call Math.divide 2
pop local 0
push local 0
push argument 1
call Math.multiply 2
pop local 0
push argument 0
push local 0
sub
pop local 1
push local 1
return
