function Pointer.new 0
push constant 1
call Memory.alloc 1
pop pointer 0
push constant 16384
push argument 0
add
pop this 0
push pointer 0
return
function Pointer.drawPointer 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 24576
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 12288
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 6144
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 3072
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 1536
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 768
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 256
neg
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 1
add
pop this 0
push this 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 3
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 6
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 12
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 24
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 48
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 96
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 192
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 127
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Pointer.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Pointer.cleanPointer 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 1
sub
pop this 0
push this 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push this 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Pointer.selectCard 3
push argument 0
pop pointer 0
push this 0
push constant 1536
sub
pop local 0
push local 0
call Memory.peek 1
pop local 1
push local 0
push constant 16384
sub
pop local 0
push local 1
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push constant 540
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push constant 514
sub
push constant 4
call Math.divide 2
pop local 2
label IF_FALSE1
push local 0
push constant 540
gt
push local 0
push constant 4000
lt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
push constant 3074
sub
push constant 4
call Math.divide 2
push constant 6
add
pop local 2
label IF_FALSE2
push local 0
push constant 4000
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
push constant 5634
sub
push constant 4
call Math.divide 2
push constant 12
add
pop local 2
label IF_FALSE3
goto IF_END0
label IF_FALSE0
push constant 1
neg
pop local 2
label IF_END0
push local 2
return
function Pointer.moveRight 0
push argument 0
pop pointer 0
push this 0
push constant 16384
push constant 7191
add
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Pointer.cleanPointer 1
pop temp 0
push this 0
push constant 16384
push constant 2070
add
eq
push this 0
push constant 16384
push constant 4630
add
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 2540
add
pop this 0
push pointer 0
call Pointer.drawPointer 1
pop temp 0
goto IF_END1
label IF_FALSE1
push this 0
push constant 4
add
pop this 0
push pointer 0
call Pointer.drawPointer 1
pop temp 0
label IF_END1
label IF_FALSE0
push constant 0
return
function Pointer.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 16384
push constant 2051
add
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Pointer.cleanPointer 1
pop temp 0
push this 0
push constant 16384
push constant 4610
add
eq
push this 0
push constant 16384
push constant 7170
add
eq
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
push constant 2540
sub
pop this 0
push pointer 0
call Pointer.drawPointer 1
pop temp 0
goto IF_END1
label IF_FALSE1
push this 0
push constant 4
sub
pop this 0
push pointer 0
call Pointer.drawPointer 1
pop temp 0
label IF_END1
label IF_FALSE0
push constant 0
return
function Pointer.moveUp 0
push argument 0
pop pointer 0
push this 0
push constant 16384
push constant 2051
add
eq
push this 0
push constant 16384
push constant 2055
add
eq
or
push this 0
push constant 16384
push constant 2059
add
eq
or
push this 0
push constant 16384
push constant 2063
add
eq
or
push this 0
push constant 16384
push constant 2067
add
eq
or
push this 0
push constant 16384
push constant 2071
add
eq
or
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Pointer.cleanPointer 1
pop temp 0
push this 0
push constant 2560
sub
pop this 0
push pointer 0
call Pointer.drawPointer 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Pointer.moveDown 0
push argument 0
pop pointer 0
push this 0
push constant 16384
push constant 7171
add
eq
push this 0
push constant 16384
push constant 7175
add
eq
or
push this 0
push constant 16384
push constant 7179
add
eq
or
push this 0
push constant 16384
push constant 7183
add
eq
or
push this 0
push constant 16384
push constant 7187
add
eq
or
push this 0
push constant 16384
push constant 7191
add
eq
or
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Pointer.cleanPointer 1
pop temp 0
push this 0
push constant 2560
add
pop this 0
push pointer 0
call Pointer.drawPointer 1
pop temp 0
label IF_FALSE0
push constant 0
return
